.hero {
  padding-top: 218px;
  padding-bottom: 245px;
  color: $light;
  background-color: $purple;
  background-image: url('/img/bg-dog.png'), url('/img/pattern.svg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right bottom, center;

  @include laptop {
    padding: 148px 0 172px;
  }

  @include tablet {
    padding: 108px 0 462px;
    background-size: 655px 564px, cover;
  }

  @include mobile {
    padding: 100px 0 283px;
    background-size: 294px 256px, cover;
  }

  // .hero__container

  &_store {
    background-color: $green;
    background-image: url('/img/bg-cat.png'), url('/img/pattern.svg');
    background-size: 839px, cover;
    padding-bottom: 90px;

    @include laptop {
      background-size: 639px, cover;
    }

    @include tablet {
      background-size: 100%, cover;
      padding-bottom: 462px;
    }

    @include mobile {
      padding-bottom: 294px;
    }
  }

  // .hero__text
  &__img {
    width: 810px;
    max-width: 100%;
    margin-bottom: 50px;

    @media (width <=1300px) {
      width: 588px;
    }

    @include laptop {
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 420px;
    margin-bottom: 60px;

    &_store {
      margin-bottom: 0;
    }

    @include laptop {
      max-width: 360px;
    }
  }

  &__store-link {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    background: $green;
    border-radius: 40px;
    padding: 16px 24px;
    font-weight: 700;
    text-align: center;
    color: $light;
    outline: 1px solid transparent;
    transition: background-color .36s, transform .36s;

    &:hover {
      background-color: #00772f;
    }

    &:focus-visible {
      outline: 1px solid $carrot;
    }

    &:active {
      transform: scale(0.9);
    }

    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url('/img/arrow-to-store.svg') no-repeat center/contain;
    }

    @include laptop {
      padding: 16px 36px;
    }

    @include mobile {
      padding: 11px 24px;
    }
  }


}