.product {
  max-width: 420px;
  min-height: 499px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 0 16px 16px;
  background-color: $white;
  // .product__image

  &__image {
    width: 100%;
    margin-bottom: 16px;
  }

  // .product__title

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
    color: $green;
    margin-bottom: 4px;
    padding-left: 36px;
    padding-right: 36px;
  }

  // .product__price

  &__price {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    color: $green;
    margin-bottom: 24px;
  }

  // .product__button-add-cart

  &__button-add-cart {
    background: $purple;
    border-radius: 40px;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 24px;
    color: $light;
    width: 100%;
  }
}